body {
    height: 100vh;
    background-image: url(images/bg-desktop.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-color: hsl(229, 57%, 11%);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentwrapper {
    width: 100%;
    max-width: 500px;
}

.container {
    display: grid;
    justify-content: center;
    align-items: flex-end;
    grid-template-columns: 1fr 2fr;
    /* position: relative; */
    /* top: 220px; */
    grid-gap: 1.5em;
    width: 80%;
    justify-content: baseline;
    margin: 0 auto;
    /* margin-left: 100px; */
}

.left-col {
    width: 290px;
    height: 170px;
    background-color: hsl(228, 56%, 26%);
    border-radius: 10px;
    border-top-right-radius: 40%;
}

.logo {
    margin: 30px;
}

.files {
    margin-left: 30px;
    display: flex;
    grid-gap: 10px;
    justify-content: baseline;
}

.file {
    background-color: hsl(229, 57%, 11%);
    border-radius: 8px;
    width: 40px;
    height: 30px;
    padding-top: 7px;
    text-align: center;
}

.right-col {
    width: 500px;
    height: 120px;
    background-color: hsl(228, 56%, 26%);
    border-radius: 10px;
    position: relative;
}

.pop-up-box {
    position: absolute;
    right: 35px;
    top: -40px;
}

p {
    color: hsl(243, 100%, 93%);
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: small;
}

h1 {
    color: hsl(229, 57%, 11%);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.data {
    height: 80px;
    padding: 1em;
    width: 90%;
    margin: 0 auto;
}

.pop-up {
    width: 150px;
    height: 60px;
    background-color: white;
    border-radius: 8px;
    float: right;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-up::after {
    width: 0px;
    border-color: transparent white transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 20px;
    bottom: -15px;
    content: "";
    display: flex;
    right: 0;
    position: absolute;
}

.pop-para {
    margin-left: 5px;
}

.status {
    height: 16px;
    border-radius: 50px;
    background-color: hsl(229, 57%, 11%);
    margin-left: 5px;
}

.space {
    width: 80%;
    height: 12px;
    border-radius: 50px;
    background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    border: solid 2px hsl(229, 57%, 11%);
    position: relative;
}

.circle {
    width: 10px;
    height: 10px;
    background-color: hsl(243, 100%, 93%);
    border-radius: 50%;
    float: right;
    position: absolute;
    right: 0;
}

.end {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {}

.right {}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 420px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media(max-width:885px) {
    body {
        background-image: url(images/bg-mobile.png);
        background-position: center;
        background-size: cover;
        background-color: hsl(229, 57%, 11%);
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .left-col {
        width: 100%;
        height: 200px;
    }
    .logo {}
    .files {
        padding-top: 15px;
    }
    .right-col {
        width: 100%;
        height: 175px;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .data {
        text-align: center;
    }
    .pop-up-box {
        position: absolute;
        top: unset;
        right: unset;
        bottom: -40px;
    }
    .pop-up::after {
        bottom: 5px;
    }
    .status {}
    .space {}
    .circle {}
    .right {}
    .data>p {}
}